Button {
    max-width:100px;
}

* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 width: 100%;
 background: url(./cool-background.png) repeat 0 0;
 background-size: cover;
 //background-color:#FFFFFF;
 //position: relative;
}
// .main-container {
//  min-height: 100vh; /* will cover the 100% of viewport */
//  overflow: hidden;
//  display: block;
//  position: relative;
//  pointer-events: all;
//  padding-bottom: 10px; /* height of your footer */
// }
// footer {
//  position: fixed;
//  font-family: Arial, Helvetica, sans-serif;
//  margin:-10px;
//  //font-weight: bold;
//  font-style: italic;
//  //font-size: 15vw;
//  bottom: 0;
//  width: 100%;
// }
