.menu {
    background-color: purple;
    height: 50px; 
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.menu li {
    display: inline-block;
    border: 1px solid white;
    padding-right:10px; 
}
.menu a {
    color:white;
    display: block;
    padding: 5px 20px;
}
.menu a:hover {
    color: white;
    background-color:purple;
}